<div class="card libro-card">
    <img [src]="libro?.urlImagen" class="card-img-top img-card" alt="{{libro?.nombre}}">
    <div class="card-body">
        <h2 class="card-title">{{libro?.nombre}}</h2>
        <p class="card-text text-truncated">{{ (libro?.instrucciones!.length>150)? (libro?.instrucciones | slice:0:150)+'...':(libro?.instrucciones) }}</p>
    </div>
    
    <div class="libro-boton">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="verLibro()"><i class="fa-solid fa-eye"></i> Ver libro</button>
    </div>
</div>