<div class="padre-form">
    <h1 class="title">Edita Tu Libro:</h1>
    <hr>
    <form #fRece="ngForm" class="form-estilo" (ngSubmit)="guardarLibro(fRece)">
        <div class="left-form">
            <div class="form-group row group-libro">
                <label class="label-libro" for="nombre">Nombre del libro:</label>
                <input type="text" class="form-control input-libro-largo" id="nombre" name="nombre" [(ngModel)]="libroEdit.nombre" required />
            </div>

            <div class="form-group row group-libro">
                <label class="label-libro" for="valoracion">Valoración (0 - 5):</label>
                <input class="form-control" type="number" min="0" max="5" step="0.1" placeholder="5" id="valoracion" name="valoracion" [(ngModel)]="libroEdit.valoracion" required />
                <label class="label-libro">(0 a 5 estrellas)</label>
            </div>

            <div class="form-group row group-libro">
                <label class="label-libro" for="fecha">Fecha de publicación:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="libroEdit.fecha" required />
            </div>

            <div class="form-group row group-libro">
                <label class="label-libro" for="tipo">Tipo:</label>
                <select class="form-select input-libro" id="tipo" name="tipo" [(ngModel)]="libroEdit.tipo" required>
                    <option value="" disabled selected>--Selecciona una opción--</option>
                    <option value="Adulto">Adulto</option>
                    <option value="Infantil">Infantil</option>
                </select>
            </div>

            <div class="form-group row">
                <label style="font-weight: bold; margin-bottom: 15px;" for="descripcion">Descripción:</label>
                <textarea class="form-control input-pasos" style="resize: none;" id="descripcion" name="descripcion" [(ngModel)]="libroEdit.texto" required placeholder="Describe brevemente el contenido del libro."></textarea>
            </div>
        </div>

        <div class="right-form">
            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Arrastra tu imagen aquí!</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagenes" [file]="f" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <div class="actions-libro">
                <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
                <button class="btn btn-primary" (click)="subirImagen()">Subir Imagen</button>
                <button type="submit" class="btn btn-success" [disabled]="!imagenSubida">ACTUALIZAR LIBRO</button>
            </div>
        </div>
    </form>
</div>
