<div class="login-component">
  <!-- Carrusel superior -->
  <div class="carousel">
    <div class="carousel-item" *ngFor="let image of carouselImages; let i = index" [class.active]="i === currentIndex">
      <img [src]="image" alt="Libro">
    </div>
  </div>

  <!-- Botones de navegación del carrusel -->
  <div class="carousel-navigation">
    <button class="prev-button" (click)="prevImage()">&#10094;</button>
    <button class="next-button" (click)="nextImage()">&#10095;</button>
  </div>

  <!-- Información sobre la web -->
  <section class="about-section">
    <h1>MUCHO TEXTO</h1>
    <p>como dice el titulo bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
  </section>

  <!-- Libros más recomendados -->
  <section class="recommended-books">
    <h2>Libros más recomendados</h2>
    <div class="book-list">
      <div class="book-item">
        <img src="https://th.bing.com/th/id/R.b78688d59e0cd2307beefa3a2a13ecdf?rik=j1qg3FpfpYCbsw&pid=ImgRaw&r=0" alt="Libro 1">
        <p class="book-title">El Secreto de la Montaña</p>
      </div>
      <div class="book-item">
        <img src="https://th.bing.com/th/id/R.b78688d59e0cd2307beefa3a2a13ecdf?rik=j1qg3FpfpYCbsw&pid=ImgRaw&r=0" alt="Libro 2">
        <p class="book-title">Aventuras en el Espacio</p>
      </div>
      <div class="book-item">
        <img src="https://th.bing.com/th/id/R.b78688d59e0cd2307beefa3a2a13ecdf?rik=j1qg3FpfpYCbsw&pid=ImgRaw&r=0" alt="Libro 3">
        <p class="book-title">La Magia del Tiempo</p>
      </div>
    </div>
  </section>
</div>
