<div class="admin-table">

    <table class="table table-hover">

        <thead>

            <tr>

                <th scope="col">ID</th>
                <th scope="col">PLACEHOLDER</th>
                <th scope="col">PLACEHOLDER</th>
                <th scope="col">PLACEHOLDER</th>
                <th scope="col">USUARIO DE ALGO</th>

            </tr>

        </thead>

        <tbody>

            <tr **ngFor="let autor of autores">

                <td>{{autor.id}}</td>
                <td>{{autor.placeholder}}</td>
                <td>{{autor.placeholder}}</td>
                <td>{{autor.placeholder}}</td>
                <td>{{autor.placeholder}}</td>

            </tr>

        </tbody>

    </table>

    <h1 *ngIf="autor.length===0">No ha autores que administrar</h1>

</div>