<div class="admin-table">
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#libroNewModal">Añadir libro <i class="fa-solid fa-plus"></i></button>
   <table class="table table-hover">
       <thead>
           <tr>
             <th scope="col">ID</th>
             <th scope="col">NOMBRE DEL libro</th>
             <th scope="col">TIPO DEL libro</th>
             <th scope="col">TIENE GLUTEN EL libro</th>
             <th scope="col">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let libro of libros">
             <td>{{libro.id}}</td>
             <td>{{libro.nombre}}</td>
             <td>{{libro.tipo}}</td>
             <td>{{libro.gluten}}</td>
             <td class="actions-table">
               <button class="btn btn-secondary" (click)="buscarLibroAEditar(libro.id!)" type="button" data-bs-toggle="modal" data-bs-target="#libroModal"><i class="fa-solid fa-pencil"></i></button>
               <button class="btn btn-danger" (click)="eliminarlibro(libro.id!)"><i class="fa-solid fa-trash-can"></i></button>
             </td>
           </tr>
         </tbody>
   </table>
   <h1 *ngIf="libros.length===0">No hay libros que administrar</h1>
 </div>
 <div class="modal fade" id="libroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="libroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar libro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #fIngre="ngForm" (ngSubmit)="editarLibro(fIngre)">
        <div class="modal-body">
          
            <div class="mb-3">
              <label for="nombre-edit" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="nombre-edit" name="nombre-edit" [(ngModel)]="libroAEditar.nombre" required>
            </div>
            <div class="mb-3">
              <label for="tipo-edit" class="col-form-label">Tipo:</label>
              <select class="form-control" id="tipo-edit" name="tipo-edit" [(ngModel)]="libroAEditar.tipo" required>
                  <option value="" disabled selected>--Selecciona un tipo de libro--</option>
                  <option value="Vegetal">Vegetal</option>
                  <option value="Fruta">Fruta</option>
                  <option value="Carne">Carne</option>
                  <option value="Pescado">Pescado</option>
                  <option value="Lácteo">Lácteo</option>
                  <option value="Legumbres, granos y frutos secos">Legumbres, granos y frutos secos</option>
                  <option value="Especias y condimentos">Especias y condimentos</option>
                  <option value="Aceites y grasas">Aceites y grasas</option>
                  <option value="Harina y cereales">Harina y cereales</option>
                  <option value="Azúcares y endulzantes">Azúcares y endulzantes</option>
                  <option value="Salsas, sopas o bebida">Salsas, Sopas o Bebida</option>
                  <option value="Productos de origen animal">Productos de origen animal</option>
                  <option value="Otro">Otro...</option>
                  </select>
            </div>
            <div class="mb-3">
              <label for="gluten-edit" class="col-form-label">Gluten:</label>
              <input type="checkbox" class="form-check-input form-control" id="gluten-edit" name="gluten-edit" [(ngModel)]="libroAEditar.gluten">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Actualizar libro</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="libroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="libroNewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Crear libro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #fIngreNew="ngForm" (ngSubmit)="saveLibro(fIngreNew)">
          <div class="modal-body">
            
              <div class="mb-3">
                <label for="nombre-new" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre-new" name="nombre-new" [(ngModel)]="libroNew.nombre" required>
              </div>
              <div class="mb-3">
                <label for="tipo-new" class="col-form-label">Tipo:</label>
                <select class="form-control" id="tipo-new" name="tipo-new" [(ngModel)]="libroNew.tipo" required>
                  <option value="" disabled selected>--Selecciona un tipo de libro--</option>
                  <option value="Vegetal">Vegetal</option>
                  <option value="Fruta">Fruta</option>
                  <option value="Carne">Carne</option>
                  <option value="Pescado">Pescado</option>
                  <option value="Lácteo">Lácteo</option>
                  <option value="Legumbres, granos y frutos secos">Legumbres, granos y frutos secos</option>
                  <option value="Especias y condimentos">Especias y condimentos</option>
                  <option value="Aceites y grasas">Aceites y grasas</option>
                  <option value="Harina y cereales">Harina y cereales</option>
                  <option value="Azúcares y endulzantes">Azúcares y endulzantes</option>
                  <option value="Salsas, sopas o bebida">Salsas, Sopas o Bebida</option>
                  <option value="Productos de origen animal">Productos de origen animal</option>
                  <option value="Otro">Otro...</option>
                  </select>
              </div>
              <div class="mb-3">
                <label for="gluten-new" class="col-form-label">Gluten:</label>
              </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Crear libro</button>
          </div>
        </form>
        </div>
      </div>
    </div>