:root {
    --iron: #cfd2d3;      /* fondo principal claro */
    --bombay: #b0b3b5;
    --oslo-gray: #8f9194;
    --sirocco: #707475;
    --abbey: #505253;     /* fondo/principal oscuro */
    --negro: #222;
    --blanco: #fff;
  }
  html, body {
    margin: 0;
    padding: 0;
    background: var(--iron);
    color: var(--negro);
  }